In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('data5.csv')

In [3]:
data.head()

,Age,Gender,Dryness in mouth. (Since 1 month),Difficulty in breathing. (Since 1 month),Experience trembling. (Since 1 month),Worried about panic and make a fool of themselves. (Since 1 month),Close to panic. (Since 1 month),Aware of the action of the heart in the absence of physical exertion. (Since 1 month),Felt scared without any good reason. (Since 1 month),Difficult to work up the initiative to do things. (Since 1 month),Couldn't experience the positive feeling. (Since 1 month),Nothing to look forward. (Since 1 month),Felt down hearted and blue. (Since 1 month),Unable to become enthusiastic. (Since 1 month),Felt wasn't worth much as person. (Since 1 month),Felt life was meaningless. (Since 1 month),AScore,DScore
0,26,Female,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,Female,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,Male,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,Male,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,Female,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12

In [4]:
data.shape

(4978, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4978 entries, 0 to 4977
Data columns (total 18 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Age                                                                                    4978 non-null   int64
 1   Gender                                                                                 4978 non-null   object
 2   Dryness in mouth. (Since 1 month)                                                      4978 non-null   int64
 3   Difficulty in breathing. (Since 1 month)                                               4978 non-null   int64
 4   Experience trembling. (Since 1 month)                                                  4978 non-null   int64
 5   Worried about panic and make a fool of themselves. (Since 1 month)                     4978 non-null   int64
 6   Close to panic. (Since 1 month)                                                        4978 non-null   int64
 7   Aware of the action of the heart in the absence of physical exertion. (Since 1 month)  4978 non-null   int64
 8   Felt scared without any good reason. (Since 1 month)                                   4978 non-null   int64
 9   Difficult to work up the initiative to do things. (Since 1 month)                      4978 non-null   int64
 10  Couldn't experience the positive feeling. (Since 1 month)                              4978 non-null   int64
 11  Nothing to look forward. (Since 1 month)                                               4978 non-null   int64
 12  Felt down hearted and blue. (Since 1 month)                                            4978 non-null   int64
 13  Unable to become enthusiastic. (Since 1 month)                                         4978 non-null   int64
 14  Felt wasn't worth much as person. (Since 1 month)                                      4978 non-null   int64
 15  Felt life was meaningless. (Since 1 month)                                             4978 non-null   int64
 16  AScore                                                                                 4978 non-null   int64
 17  DScore                                                                                 4978 non-null   int64
dtypes: int64(17), object(1)
memory usage: 700.2+ KB

In [6]:
df = data[['Age','Gender','Dryness in mouth. (Since 1 month)', 'Difficulty in breathing. (Since 1 month)', 'Experience trembling. (Since 1 month)',
       'Worried about panic and make a fool of themselves. (Since 1 month)', 'Close to panic. (Since 1 month)', 'Aware of the action of the heart in the absence of physical exertion. (Since 1 month)', 'Felt scared without any good reason. (Since 1 month)',
       'Difficult to work up the initiative to do things. (Since 1 month)',"Couldn't experience the positive feeling. (Since 1 month)",'Nothing to look forward. (Since 1 month)','Felt down hearted and blue. (Since 1 month)','Unable to become enthusiastic. (Since 1 month)',"Felt wasn't worth much as person. (Since 1 month)",'Felt life was meaningless. (Since 1 month)','AScore','DScore']]

In [7]:
df

,Age,Gender,Dryness in mouth. (Since 1 month),Difficulty in breathing. (Since 1 month),Experience trembling. (Since 1 month),Worried about panic and make a fool of themselves. (Since 1 month),Close to panic. (Since 1 month),Aware of the action of the heart in the absence of physical exertion. (Since 1 month),Felt scared without any good reason. (Since 1 month),Difficult to work up the initiative to do things. (Since 1 month),Couldn't experience the positive feeling. (Since 1 month),Nothing to look forward. (Since 1 month),Felt down hearted and blue. (Since 1 month),Unable to become enthusiastic. (Since 1 month),Felt wasn't worth much as person. (Since 1 month),Felt life was meaningless. (Since 1 month),AScore,DScore
0,26,Female,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,Female,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,Male,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,Male,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,Female,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,23,Male,1,1,2,1,1,2,2,2,2,1,1,2,2,2,20,24
4974,17,Female,1,1,1,2,1,2,2,2,1,2,1,2,1,1,20,20
4975,20,Male,1,2,2,1,1,1,2,2,2,2,2,1,2,1,20,24
4976,18,Male,1,1,1,1,2,2,2,2,1,2,2,1,2,2,20,24
4977,26,Male,1,2,2,2,1,1,1,2,1,1,1,1,1,1,20,16

In [8]:
df=df.copy()

In [9]:
df.rename(columns={'Dryness in mouth. (Since 1 month)':'One','Difficulty in breathing. (Since 1 month)':'Two','Experience trembling. (Since 1 month)':'Three','Worried about panic and make a fool of themselves. (Since 1 month)':'Four','Close to panic. (Since 1 month)':'Five','Aware of the action of the heart in the absence of physical exertion. (Since 1 month)':'Six','Felt scared without any good reason. (Since 1 month)':'Seven','Difficult to work up the initiative to do things. (Since 1 month)':'Eight',"Couldn't experience the positive feeling. (Since 1 month)":'Nine','Nothing to look forward. (Since 1 month)':'Ten','Felt down hearted and blue. (Since 1 month)':'Eleven','Unable to become enthusiastic. (Since 1 month)':'Twelve',"Felt wasn't worth much as person. (Since 1 month)":'Thirteen','Felt life was meaningless. (Since 1 month)':'Fourteen'},inplace=True)

In [10]:
df

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,26,Female,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,Female,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,Male,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,Male,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,Female,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,23,Male,1,1,2,1,1,2,2,2,2,1,1,2,2,2,20,24
4974,17,Female,1,1,1,2,1,2,2,2,1,2,1,2,1,1,20,20
4975,20,Male,1,2,2,1,1,1,2,2,2,2,2,1,2,1,20,24
4976,18,Male,1,1,1,1,2,2,2,2,1,2,2,1,2,2,20,24
4977,26,Male,1,2,2,2,1,1,1,2,1,1,1,1,1,1,20,16

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
df['Gender'] = le.fit_transform(df['Gender'])

In [14]:
df.head()

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,26,0,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,0,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,1,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,1,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,0,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score

Depression

In [16]:
x = df.drop(columns=['One','Two',	'Three',	'Four',	'Five','Six','Seven','AScore','DScore'],axis=1)
y = df['DScore']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=44)

In [19]:
x_train.shape

(3982, 9)

In [20]:
x_test.shape

(996, 9)

In [21]:
model = LogisticRegression()

In [22]:
model.fit(x_train, y_train)

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
df

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,26,0,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,0,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,1,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,1,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,0,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,23,1,1,1,2,1,1,2,2,2,2,1,1,2,2,2,20,24
4974,17,0,1,1,1,2,1,2,2,2,1,2,1,2,1,1,20,20
4975,20,1,1,2,2,1,1,1,2,2,2,2,2,1,2,1,20,24
4976,18,1,1,1,1,1,2,2,2,2,1,2,2,1,2,2,20,24
4977,26,1,1,2,2,2,1,1,1,2,1,1,1,1,1,1,20,16

In [24]:
predicted_output = model.predict(x_test)
score=accuracy_score(predicted_output,y_test)
score

0.6044176706827309

In [25]:
model2=RandomForestClassifier()
model2.fit(x_train, y_train)
preds=model2.predict(x_test)
score2=accuracy_score(preds,y_test)
score2

0.7620481927710844

In [26]:
model3=DecisionTreeClassifier()
model3.fit(x_train, y_train)
pred1=model3.predict(x_test)
score3=accuracy_score(pred1,y_test)
score3

0.7018072289156626

In [27]:
model4=GaussianNB()
model4.fit(x_train, y_train)
pred2=model4.predict(x_test)
score4=accuracy_score(pred2,y_test)
score4

0.5973895582329317

In [28]:
model5=KNeighborsClassifier()
model5.fit(x_train, y_train)
pred3=model5.predict(x_test)
score5=accuracy_score(pred3,y_test)
score5

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.6144578313253012

In [29]:
model6=SVC()
model6.fit(x_train, y_train)
pred4=model6.predict(x_test)
score6=accuracy_score(pred4,y_test)
score6

0.8423694779116466

Anxiety

In [30]:
x = df.drop(columns=['Eight','Nine',	'Ten',	'Eleven',	'Twelve','Thirteen','Fourteen','AScore','DScore'],axis=1)
y = df['AScore']

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=44)

In [33]:
x_train.shape

(3982, 9)

In [34]:
x_test.shape

(996, 9)

In [35]:
model = LogisticRegression()

In [36]:
model.fit(x_train, y_train)

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
df

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,26,0,0,3,1,2,1,3,0,0,2,1,1,0,0,0,20,8
1,23,0,0,0,2,2,3,1,2,0,3,1,0,2,3,1,20,20
2,23,1,0,3,1,2,3,3,0,0,1,2,2,3,3,3,24,28
3,25,1,0,3,3,1,1,2,2,0,0,2,2,0,3,3,24,20
4,19,0,0,1,1,3,0,3,0,0,2,1,0,2,1,0,16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,23,1,1,1,2,1,1,2,2,2,2,1,1,2,2,2,20,24
4974,17,0,1,1,1,2,1,2,2,2,1,2,1,2,1,1,20,20
4975,20,1,1,2,2,1,1,1,2,2,2,2,2,1,2,1,20,24
4976,18,1,1,1,1,1,2,2,2,2,1,2,2,1,2,2,20,24
4977,26,1,1,2,2,2,1,1,1,2,1,1,1,1,1,1,20,16

In [38]:
predicted_output = model.predict(x_test)
score=accuracy_score(predicted_output,y_test)
score

0.5943775100401606

In [39]:
model2=RandomForestClassifier()
model2.fit(x_train, y_train)
preds=model2.predict(x_test)
score2=accuracy_score(preds,y_test)
score2

0.7991967871485943

In [40]:
model3=DecisionTreeClassifier()
model3.fit(x_train, y_train)
pred1=model3.predict(x_test)
score3=accuracy_score(pred1,y_test)
score3

0.7289156626506024

In [41]:
model4=GaussianNB()
model4.fit(x_train, y_train)
pred2=model4.predict(x_test)
score4=accuracy_score(pred2,y_test)
score4

0.643574297188755

In [42]:
model5=KNeighborsClassifier()
model5.fit(x_train, y_train)
pred3=model5.predict(x_test)
score5=accuracy_score(pred3,y_test)
score5

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.6546184738955824

In [43]:
model6=SVC()
model6.fit(x_train, y_train)
pred4=model6.predict(x_test)
score6=accuracy_score(pred4,y_test)
score6

0.8443775100401606

In [45]:
d_input_new=[1,0,2,3,1,3,2]
d_result=model6.predict([d_input_new])
d_result

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

ValueError: X has 7 features, but SVC is expecting 9 features as input.