In [338]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [339]:
data=pd.read_csv('demoDataSet_v01.csv')

In [340]:
data.head()

,Age,Gender,Dryness in mouth. (Since 1 month),Difficulty in breathing. (Since 1 month),Experience trembling. (Since 1 month),Worried about panic and make a fool of themselves. (Since 1 month),Close to panic. (Since 1 month),Aware of the action of the heart in the absence of physical exertion. (Since 1 month),Felt scared without any good reason. (Since 1 month),Difficult to work up the initiative to do things. (Since 1 month),Couldn't experience the positive feeling. (Since 1 month),Nothing to look forward. (Since 1 month),Felt down hearted and blue. (Since 1 month),Unable to become enthusiastic. (Since 1 month),Felt wasn't worth much as person. (Since 1 month),Felt life was meaningless. (Since 1 month),AScore,DScore
0,21,Male,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17,Female,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
2,21,Female,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0
3,21,Male,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0
4,19,Male,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2

In [341]:
data.shape

(999, 18)

In [342]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 18 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Age                                                                                    999 non-null    int64
 1   Gender                                                                                 999 non-null    object
 2   Dryness in mouth. (Since 1 month)                                                      999 non-null    int64
 3   Difficulty in breathing. (Since 1 month)                                               999 non-null    int64
 4   Experience trembling. (Since 1 month)                                                  999 non-null    int64
 5   Worried about panic and make a fool of themselves. (Since 1 month)                     999 non-null    int64
 6   Close to panic. (Since 1 month)                                                        999 non-null    int64
 7   Aware of the action of the heart in the absence of physical exertion. (Since 1 month)  999 non-null    int64
 8   Felt scared without any good reason. (Since 1 month)                                   999 non-null    int64
 9   Difficult to work up the initiative to do things. (Since 1 month)                      999 non-null    int64
 10  Couldn't experience the positive feeling. (Since 1 month)                              999 non-null    int64
 11  Nothing to look forward. (Since 1 month)                                               999 non-null    int64
 12  Felt down hearted and blue. (Since 1 month)                                            999 non-null    int64
 13  Unable to become enthusiastic. (Since 1 month)                                         999 non-null    int64
 14  Felt wasn't worth much as person. (Since 1 month)                                      999 non-null    int64
 15  Felt life was meaningless. (Since 1 month)                                             999 non-null    int64
 16  AScore                                                                                 999 non-null    int64
 17  DScore                                                                                 999 non-null    int64
dtypes: int64(17), object(1)
memory usage: 140.6+ KB

In [343]:
df = data[['Age', 'Gender','Dryness in mouth. (Since 1 month)', 'Difficulty in breathing. (Since 1 month)', 'Experience trembling. (Since 1 month)',
       'Worried about panic and make a fool of themselves. (Since 1 month)', 'Close to panic. (Since 1 month)', 'Aware of the action of the heart in the absence of physical exertion. (Since 1 month)', 'Felt scared without any good reason. (Since 1 month)',
       'Difficult to work up the initiative to do things. (Since 1 month)',"Couldn't experience the positive feeling. (Since 1 month)",'Nothing to look forward. (Since 1 month)','Felt down hearted and blue. (Since 1 month)','Unable to become enthusiastic. (Since 1 month)',"Felt wasn't worth much as person. (Since 1 month)",'Felt life was meaningless. (Since 1 month)','AScore','DScore']]
df

,Age,Gender,Dryness in mouth. (Since 1 month),Difficulty in breathing. (Since 1 month),Experience trembling. (Since 1 month),Worried about panic and make a fool of themselves. (Since 1 month),Close to panic. (Since 1 month),Aware of the action of the heart in the absence of physical exertion. (Since 1 month),Felt scared without any good reason. (Since 1 month),Difficult to work up the initiative to do things. (Since 1 month),Couldn't experience the positive feeling. (Since 1 month),Nothing to look forward. (Since 1 month),Felt down hearted and blue. (Since 1 month),Unable to become enthusiastic. (Since 1 month),Felt wasn't worth much as person. (Since 1 month),Felt life was meaningless. (Since 1 month),AScore,DScore
0,21,Male,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17,Female,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
2,21,Female,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0
3,21,Male,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0
4,19,Male,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,20,Female,2,0,1,3,3,2,3,0,0,1,0,1,1,3,28,12
995,23,Male,0,0,1,0,2,3,0,2,2,2,1,0,1,3,12,22
996,21,Male,0,1,3,3,2,2,0,1,3,1,0,0,1,1,22,14
997,21,Male,1,0,3,0,2,2,3,0,1,3,3,0,0,2,22,18
998,23,Female,2,1,3,0,2,3,3,0,1,3,3,3,1,1,28,24

In [344]:
df=df.copy()
df.rename(columns={'Dryness in mouth. (Since 1 month)':'One','Difficulty in breathing. (Since 1 month)':'Two','Experience trembling. (Since 1 month)':'Three','Worried about panic and make a fool of themselves. (Since 1 month)':'Four','Close to panic. (Since 1 month)':'Five','Aware of the action of the heart in the absence of physical exertion. (Since 1 month)':'Six','Felt scared without any good reason. (Since 1 month)':'Seven','Difficult to work up the initiative to do things. (Since 1 month)':'Eight',"Couldn't experience the positive feeling. (Since 1 month)":'Nine','Nothing to look forward. (Since 1 month)':'Ten','Felt down hearted and blue. (Since 1 month)':'Eleven','Unable to become enthusiastic. (Since 1 month)':'Twelve',"Felt wasn't worth much as person. (Since 1 month)":'Thirteen','Felt life was meaningless. (Since 1 month)':'Fourteen'},inplace=True)
df

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,21,Male,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17,Female,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
2,21,Female,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0
3,21,Male,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0
4,19,Male,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,20,Female,2,0,1,3,3,2,3,0,0,1,0,1,1,3,28,12
995,23,Male,0,0,1,0,2,3,0,2,2,2,1,0,1,3,12,22
996,21,Male,0,1,3,3,2,2,0,1,3,1,0,0,1,1,22,14
997,21,Male,1,0,3,0,2,2,3,0,1,3,3,0,0,2,22,18
998,23,Female,2,1,3,0,2,3,3,0,1,3,3,3,1,1,28,24

In [345]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#df['Age'] = le.fit_transform(df['Age'])
df['Gender'] = le.fit_transform(df['Gender'])
#df['One'] = le.fit_transform(df['One'])
#df['Two'] = le.fit_transform(df['Two'])
#df['Three'] = le.fit_transform(df['Three'])
#df['Four'] = le.fit_transform(df['Four'])
#df['Five'] = le.fit_transform(df['Five'])
#df['Six'] = le.fit_transform(df['Six'])
#df['Seven'] = le.fit_transform(df['Seven'])
#df['Eight'] = le.fit_transform(df['Eight'])
#df['Nine'] = le.fit_transform(df["Nine"])
#df['Ten'] = le.fit_transform(df['Ten'])
#df['Eleven'] = le.fit_transform(df['Eleven'])
#df['Twelve'] = le.fit_transform(df['Twelve'])
#df['Thirteen'] = le.fit_transform(df["Thirteen"])
#df['Fourteen'] = le.fit_transform(df['Fourteen'])

In [346]:
#df = df.reset_index()
df.head()

,Age,Gender,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen,AScore,DScore
0,21,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
2,21,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0
3,21,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0
4,19,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2

In [347]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score

In [348]:
from sklearn.model_selection import train_test_split

# Anxiety

In [349]:
x = df.drop(columns=['Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','AScore','DScore'],axis=1)
y = df['AScore']

In [350]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=45)

In [351]:
x_train.shape

(799, 9)

In [352]:
x_test.shape

(200, 9)

In [353]:
model = LogisticRegression()
model.fit(x_train, y_train)
predicted_output = model.predict(x_test)
score=accuracy_score(predicted_output,y_test)
score

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.32

In [354]:
model2=RandomForestClassifier()
model2.fit(x_train, y_train)
preds=model2.predict(x_test)
score2=accuracy_score(preds,y_test)
score2

0.31

In [355]:
model3=DecisionTreeClassifier()
model3.fit(x_train, y_train)
pred1=model3.predict(x_test)
score3=accuracy_score(pred1,y_test)
score3

0.25

In [356]:
model4=GaussianNB()
model4.fit(x_train, y_train)
pred2=model4.predict(x_test)
score4=accuracy_score(pred2,y_test)
score4

0.33

In [357]:
model5=KNeighborsClassifier()
model5.fit(x_train, y_train)
pred3=model5.predict(x_test)
score5=accuracy_score(pred3,y_test)
score5

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.22

In [358]:
model6=SVC()
model6.fit(x_train, y_train)
pred4=model6.predict(x_test)
score6=accuracy_score(pred4,y_test)
score6

0.125

In [374]:
input_new=[21,1,1,0,2,3,1,3,2]
result=model4.predict([input_new])
result

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([22], dtype=int64)

In [375]:
input_new=[19,0,1,1,3,2,0,3,3]
result1=model3.predict([input_new])
result1

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([26], dtype=int64)

In [377]:
input_new=[20,1,1,2,3,2,0,1,2]
result2=model3.predict([input_new])
result2

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([24], dtype=int64)

In [382]:
from sklearn.metrics import precision_score

# True labels
y_true = [24, 26, 22]

# Predicted labels
y_pred = [22, 26, 24]

# Calculate precision
precision = precision_score(y_true, y_pred, average='micro')  # Choose an appropriate average setting

# Print the precision
print('Precision:', precision)

Precision: 0.3333333333333333

# Depression

In [383]:
u = df.drop(columns=['One','Two','Three','Four','Five','Six','Seven','AScore','DScore'],axis=1)
v = df['DScore']

In [384]:
u_train,u_test,v_train,v_test = train_test_split(u,v,test_size=0.2,random_state=0)

In [385]:
u_train.shape

(799, 9)

In [386]:
u_test.shape

(200, 9)

In [387]:
d_model = LogisticRegression()
d_model.fit(u_train, v_train)
d_predicted_output = d_model.predict(u_test)
d_score=accuracy_score(d_predicted_output,v_test)
d_score

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.29

In [388]:
d_model2=RandomForestClassifier()
d_model2.fit(u_train, v_train)
d_preds=d_model2.predict(u_test)
d_score2=accuracy_score(d_preds,v_test)
d_score2

0.33

In [389]:
d_model3=DecisionTreeClassifier()
d_model3.fit(u_train, v_train)
d_pred1=d_model3.predict(u_test)
d_score3=accuracy_score(d_pred1,v_test)
d_score3

0.285

In [390]:
d_model4=GaussianNB()
d_model4.fit(u_train, v_train)
d_pred2=d_model4.predict(u_test)
d_score4=accuracy_score(d_pred2,v_test)
d_score4

0.325

In [391]:
d_model5=KNeighborsClassifier()
d_model5.fit(u_train, v_train)
d_pred3=d_model5.predict(u_test)
d_score5=accuracy_score(d_pred3,v_test)
d_score5

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.22

In [392]:
d_model6=SVC()
d_model6.fit(u_train, v_train)
d_pred4=d_model6.predict(u_test)
d_score6=accuracy_score(d_pred4,v_test)
d_score6

0.175

In [393]:
d_input_new=[21,1,1,0,2,3,1,3,2]
d_result=d_model3.predict([d_input_new])
d_result

C:\Users\madhu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([22], dtype=int64)